<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META name="viewport" content="width=device-width, initial-scale=1">
    <title>conus</title>

    <!-- styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}

    {% style "/css/screen.css" %}
    {% style "/css/toolkit-light.css" %}
    {% style "/css/application.css" %}
    {% style "/css/docs.css" %}
    {% style "/css/masonry.css" %}
    {% style "/css/custom.css" %}
    {% style "/css/masonry.css" %}

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-106024314-1', 'auto');
     ga('send', 'pageview');

    </script>
    </head>


  <body class="with-top-navbar">

      
 <div class="container">
    <div class="row">
      <div class="col-md-3 sidebar">
        <nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
              <span class="sr-only">Toggle nav</span>
            </button>
          </div>

          <div class="collapse nav-toggleable-md" id="nav-toggleable-md">
            <ul class="nav nav-pills nav-stacked flex-column">
              <li class="nav-header">CONUS</li>
              <li class="nav-item">
                <a class="nav-link " href="/">Recently Added</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user">User List</a>
              </li>
            </ul>
            <hr class="visible-xs mt-3">
          </div>
        </nav>
      </div>
      <dv class="col-md-9 content">

      {% block content %}
      {% endblock %}

    <!-- scripts -->
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}

   {% script "/js/chart.js" %}
   {% script "/js/tablesorter.min.js" %}
   {% script "/js/toolkit.js" %}
   {% script "/js/application.js" %}

   {% script "/js/bootstrap.min.js" %}
   {% script "/js/jquery.shuffle.min.js" %}
   {% script "/js/custom.js" %}

    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
