{% extends "base.html" %}
{% block content %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
 var elem = document.querySelector('.grid');
 var msnry = new Masonry( elem, {
     // options
     itemSelector: '.grid-item',
     columnWidth: 200
 });

 // element argument can be a selector string
 //   for an individual element
 var msnry = new Masonry( '.grid', {
     // options
 });
</script>
<style>
 .grid-item { width: 200px; }
 .grid-item--width2 { width: 400px; }
</style>

<div class="masonry gutterless">
    {% for item in messages %}
		<div class="brick">
				<img src="{{item.imageurl|default:default.png}}">
        <div class="bottom-left">
            <a href="user/{{item.login}}">

            <h3>
                <span>
                    {{item.login}} : 
            </a>
            <a href="user/{{item.login}}/{{item.name}}">
                <h3>
                    <span>
                        {{item.name}}
                    </span>
                </h3>
            </a>
        </div>
		</div>
      {% endfor %}
</div>
{% endblock %}
