{% extends "base.html" %}
{% block content %}
<div class="dashhead-titles">
    <h6 class="dashhead-subtitle">CONUS</h6>
    <h2 class="dashhead-title">Recently Added</h2>
</div>

    <div class="span12">
        <div class="table-responsive">
            <table class="table" data-sort="table">
            <thead>
                <tr>
                    <th>date</th>
                    <th>name</th>
                    <th>description</th>
                    <th>asking price</th>
                    <th>image</th>
                    <th><a href="user">users</a></th>
                    <th>product url</th>
                </tr>
            </thead>
            <tbody>
            {% for item in messages %}
            <tr>
                <td>{{item.timestamp|date:"yyyy-MM-dd HH:mm"}}</td>
                <td><a href="user/{{item.email}}/{{item.url-name}}">{{item.name}}</a></td>
                <td>{{item.description}}</td>
                <td>{{item.askingprice}}</td>
                <td><a href="{{item.imageurl}}">*</a></td>

                <td><a href="user/{{item.email}}">{{item.email}}</a></td>
                <td><a href="{{item.producturl}}">{{item.producturl}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
    </div>
{% endblock %}
