{% extends "base.html" %}
{% block content %}

<style>
   .affiliate {
          width:190px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
   }
  </style>
<div class="table-responsive">
    <table class="table" data-sort="table">
        <thead>
            <tr>
                <th>image</th>
                <th>Date Added</th>
                <th>Thing</th>
                <th>Description</th>
                <th>Asking Price</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            {% for item in things %}
            <tr>
                <td><img src="{{item.imageurl|default:default.png}}"></td>
                <td>{{item.timestamp|date:"yyyy-MM-dd HH:mm"}}</td>
                <td><a href="/user/{{item.login}}/{{item.url-name}}">{{item.name}}</a></td>
                <td>{{item.description}}</td>
                <td>{{item.askingprice}}</td>
                <td><a href="{{item.producturl}}"><span class="affiliate">{{item.producturl}}</span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
