{% extends "base.html" %}
{% block content %}
<style type='text/css'>
 img {
     max-width: 100%;
     vertical-align: bottom;
 }

 .wrapper {
     width: 92.5%;
     padding: 1em;
 }



 .masonry {
     -moz-transition: all .5s ease-in-out;
     -webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
     -moz-column-gap: 30px;
     -webkit-column-gap: 30px;
     column-gap: 30px;
     -moz-column-fill: initial;
     -webkit-column-fill: initial;
     column-fill: initial;
 }
 .masonry .brick {
     margin-bottom: 30px;
     position: relative;
 }
 .masonry .brick img {
     -moz-transition: all .5s ease-in-out;
     -webkit-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out;
 }
 .masonry .brick:hover img {
     opacity: .75;
 }
 .masonry.gutterless {
     -moz-column-gap: 0;
     -webkit-column-gap: 0;
     column-gap: 0;
 }
 .masonry.gutterless .brick {
     margin-bottom: 0;
     position: relative;
 }

 .span {
     -moz-column-span: all;
     -webkit-column-span: all;
     column-span: all;
     *margin: 30px 0;
 }
 h3 span { 
     color: white; 
     font: bold 24px/45px Helvetica, Sans-Serif; 
     letter-spacing: -1px;  
     background: rgb(0, 0, 0); /* fallback color */
     background: rgba(0, 0, 0, 0.7);
     padding: 10px; 
 }
 @media only screen and (min-width: 1024px) {
     .desc {
         font-size: 1.25em;
     }

     .intro {
         letter-spacing: 1px;
     }

     .wrapper {
         width: 80%;
         padding: 2em;
     }

     .masonry {
         -moz-column-count: 3;
         -webkit-column-count: 3;
         column-count: 3;
     }
 }
 @media only screen and (min-width: 768px) and (max-width: 1023px) {
     .wrapper {
         width: 85%;
         padding: 1.5em;
     }

     .masonry {
         -moz-column-count: 2;
         -webkit-column-count: 2;
         column-count: 2;
     }
 }
 .bottom-left {
     position: absolute;
     bottom: 8px;
     left: 16px;
 }
</style>

<div class="masonry gutterless">
    {% for item in messages %}<!-- http://w3bits.com/labs/css-masonry/3/ -->
			<div class="brick">
				  <img src="{{item.imageurl}}">
          <div class="bottom-left"><h3><span>{{item.name}}</span></h3></div>
			</div>
      {% endfor %}
		</div>
	</div>

<!-- 
<div id="columns">
    {% for item in messages %}
    <figure>
        <a href="{{item.login}}/{{item.url-name}}">
            <img src="{{item.imageurl}}">
	          <figcaption><a href="{{item.login}}/{{item.url-name}}">{{item.name}}</a></figcaption>
        </a>
	  </figure>
    {% endfor %}
</div>
-->

<table class="table" data-sort="table">
    <tbody>
        {% for item in messages %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.askingprice}}</td>
            <td><a href="{{item.producturl}}">product link</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
<form method="POST" enctype="multipart/form-data" action="/user/{{user}}">
    {% csrf-field %}
    <p>
        Name:
        <input class="form-control"
               type="text"
               name="name"
               value="{{name}}" />
    </p>
    {% if errors.name %}
    <div class="alert alert-danger">{{errors.name|join}}</div>
    {% endif %}
    <p>
        Description:
        <textarea class="form-control"
                  rows="4"
                  cols="50"
                  name="description">{{description}}</textarea>
    </p>
    {% if errors.description %}
    <div class="alert alert-danger">{{errors.description|join}}</div>
    {% endif %}

    <p>
        Askingprice:
        <input type="number" name="askingprice">{{askingprice}}</input>
    </p>
    {% if errors.askingprice %}
    <div class="alert alert-danger">{{errors.askingprice|join}}</div>
    {% endif %}

    <p>
        Product url:
        <textarea class="form-control"
                  cols="50"
                  name="producturl">{{producturl}}</textarea>
    </p>
    {% if errors.producturl %}
    <div class="alert alert-danger">{{errors.producturl|join}}</div>
    {% endif %}

    <p>

        Image:
        <input id="file" name="file" type="file"/>

    </p>
    {% if errors.imageurl %}
    <div class="alert alert-danger">{{errors.imageurl|join}}</div>
    {% endif %}

    <input type="submit" class="btn btn-primary" value="submit" />
</form>


</div>
{% endblock %}
