{% extends "base.html" %}
{% block content %}
<div class="table-responsive">
    <table class="table" data-sort="table">
        <thead>
            <tr>
                <th>Date Added</th>
                <th>Thing</th>
                <th>Description</th>
                <th>Asking Price</th>
                <th>Buy Link</th>
            </tr>
        </thead>
        <tbody>
            {% for item in messages %}
            <tr>
                <td>{{item.timestamp|date:"yyyy-MM-dd HH:mm"}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.askingprice}}</td>
                <td><a href="{{item.producturl}}">buy</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form method="POST" enctype="multipart/form-data" action="/user/{{user}}">
    {% csrf-field %}
    <p>
        Name:
        <input class="form-control"
               type="text"
               name="name"
               value="{{name}}" />
    </p>
    {% if errors.name %}
    <div class="alert alert-danger">{{errors.name|join}}</div>
    {% endif %}
    <p>
        Description:
        <textarea class="form-control"
                  rows="4"
                  cols="50"
                  name="description">{{description}}</textarea>
    </p>
    {% if errors.description %}
    <div class="alert alert-danger">{{errors.description|join}}</div>
    {% endif %}

    <p>
        Askingprice:
        <input type="number" name="askingprice">{{askingprice}}</input>
    </p>
    {% if errors.askingprice %}
    <div class="alert alert-danger">{{errors.askingprice|join}}</div>
    {% endif %}

    <p>
        Product url:
        <textarea class="form-control"
                  type="text"
                  name="producturl">{{producturl}}</textarea>
    </p>
    {% if errors.producturl %}
    <div class="alert alert-danger">{{errors.producturl|join}}</div>
    {% endif %}

    <p>

        Image:
        <input id="file" name="file" type="file"/>

    </p>
    {% if errors.imageurl %}
    <div class="alert alert-danger">{{errors.imageurl|join}}</div>
    {% endif %}

    <input type="submit" class="btn btn-primary" value="submit" />
</form>


</div>
{% endblock %}
