{% extends "base.html" %}
{% block content %}
<table class="tablesorter">
    <thead>
        <tr>
            <th>{{user}}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in messages %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.askingprice}}</td>
            <td><a href="{{item.producturl}}">product link</a></td>

            <td><img src="{{item.imageurl}}" style="width:540px;height:auto"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
